<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
<title itemprop="name">{{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} from {{ end }}{{ .Site.Title }}{{ end }}</title>
<meta property="og:title" content="{{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} from {{ end }}{{ .Site.Title }}{{ end }}"/>
{{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Params.date }}<meta name="og:type" content="article"/>{{ else }}<meta name="og:type" content="website"/>{{end}}
{{- with .Description }}<meta name="description" content="{{ . }}"><meta property="og:description" content="{{ . }}"/>{{ else }}<meta name="description" content="{{ .Site.Params.description }}"><meta property="og:description" content="{{ .Site.Params.description }}"/>{{- end }}
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
{{- with .RelPermalink }}<meta name="url" content="{{ . }}"/><meta property="og:url" content="{{ . }}"/>{{- end }}
<link rel="openid.delegate" href="https://ethanyoo.com/"/><link rel="openid.server" href="https://openid.indieauth.com/openid"/><link rel="webmention" href="https://webmention.io/ethanyoo.com/webmention"/>
{{- with .OutputFormats.Get "RSS" -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}{{ end }}
<link rel="stylesheet" href="/css/style.css?rnd={{ now.Unix }}">
<script defer src="/js/script.js" data-website-id="815a72d3-9985-408d-a47e-e8f12b47bc00" data-host-url="https://analytics.ethanyoo.com" data-domains="ethanyoo.com"></script>
</head>
<body>
{{- if not .IsHome }}{{ partial "header" . }}{{ partialCached "search.html" . }}{{ end }}
{{- if .IsHome }}{{- block "header" . }}{{ end }}
{{- end }}
{{- block "main" . }}{{ end }}
{{ if not .IsHome }}{{ partial "footer" . }}
{{ end }}
</body>
</html>
