{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<div>
		{{ if .Params.toc }}
			<h2>Contents</h2>
			<aside>{{ .TableOfContents }}</aside>
		{{ end }}
			{{ .Content }}
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
	<p><strong>I last updated this page with <a href="https://git.eyoo.link/ethan/ethanyoo.com/commit/{{ .GitInfo.Hash }}"><code> commit {{ .GitInfo.AbbreviatedHash }}</code></a> on {{ .Lastmod.Format "January 2, 2006" }}.</strong></p>
{{ end }}
