<footer>
    <p><em>This website's contents do not necessarily reflect the views of any organization with which I am affiliated.</em></p>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ .Site.Title }}</b></a>.
{{- range .Site.Menus.footer }}
	<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
{{- end }}
	</p>
	<a class="link-000" href="https://ForTheBadge.com/"><img src="/img/built-with-love.svg" alt="This site was built with love, using Git and Hugo." title="I also used Git and Hugo." /></a>
	<a class="link-000" href="{{ .Site.Params.license }}"><img src="/img/CC-BY-SA.svg" alt="Original content by {{ .Site.Params.author.name }} is licensed under {{ .Site.Copyright }}" title="{{ .Site.Params.copyrightMessage }}" /></a>
</footer>
