<!-- layouts/partials/search.html -->
<link rel="stylesheet" href="/css/search.css?rnd={{ now.Unix }}">
<form id="search-form" class="noscript" method="GET" action="https://duckduckgo.com/">
	<div class="search-bar">
		<input id="search-input" class="search--display" name="q" tabindex="0" autocomplete="off" {{ with site.BaseURL }}value=" site:{{ . }}"{{ end }} placeholder="{{ "Search" }}">
		<input id="search-submit" class="icon" type="submit" value="⌕">
	</div>
	<ul id="search-results" class="search--display"></ul>
</form>
<!-- <script src="{{ "/js/fuse.js" | relURL }}"></script> -->
<script src="{{ "/js/fixedsearch.js" | relURL }}"></script>
